* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.main {
  height: 400px;
  width: 400px;
  background-color: grey;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

h1 {
  margin: 50px auto;
  border-bottom: 2px solid;
}

.button {
  margin: 50px auto;
  display: flex;
  gap: 20px;
}

button {
  height: 50px;
  width: 150px;
  margin: auto;
  background-color: yellowgreen;
  outline: none;
  border: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  font-weight: 600;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
