.main {
}

.button {
  height: max-content;
  width: max-content;
  margin: auto;
  gap: 10px;
  display: flex;
  flex-direction: column;
  margin: 25px auto;
}
.button h1 {
  margin: 20px auto;
}

.button button {
  height: 40px;
  width: 250px;
  font-size: 20px;
  background-color: yellowgreen;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

.buttonSearch {
  height: 30px;
  font-size: 20px;
  background-color: yellowgreen;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  width: max-content;
  padding: 0 10px;
  border: 2px solid;
  margin-left: 130px;
}

.data {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 25px;
  color: #daddfc;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  top: 150px;
  left: 70px;
  right: 0;
}

.left {
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 350px;
  background-color: grey;
}

.right {
  height: auto;
  position: absolute;
  left: 300px;
  right: 0;
  top: 0;
  margin: auto;
}

.fixedData {
  position: fixed;
  top: 0px;
  left: 350px;
  margin: auto;
  right: 0;
  z-index: 1;
  background-color: #2e4c6d;
  padding: 10px;
  width: 500px;
}

.showData {
  margin-top: 35px;
}

.startDate {
  width: 250px;
  height: 50px;
  margin: auto;
  display: flex;
  align-items: center;
  display: flex;
  gap: 5px;
}

.datePicker {
  z-index: 999;
}

.dateSpan {
  color: whitesmoke;
  font-weight: 600;
}

