<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/dashboard.css" />
  </head>
  <body>
    <div class="main">
      <h1>Thanks for SignUp. We have sent a mail to you.</h1>
      <h2>Your Name is <%= userData.name %></h2>
      <h2>Your Email is <%= userData.email %></h2>
    </div>
  </body>
</html>
