<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage</title>
    <link rel="stylesheet" href="/static/index.css" />
  </head>
  <body>
    <div class="main">
      <h1>Simple Login Signup</h1>
      <div class="button">
        <button onclick="location.href='/login'">Login</button>
        <button onclick="location.href='/register'">SignUp</button>
      </div>
    </div>
  </body>
</html>
