<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/static/login.css" />
  </head>
  <body>
    <div class="main">
      <h1>Login</h1>
      <form action="/login" method="post">
        <input name="email" type="text" placeholder="Email" />
        <input name="password" type="text" placeholder="Password" />
        <input type="submit" value="Login" />
      </form>
      <div class="newUser">
        New User <span onclick="location.href='/register'">Click here</span>
      </div>
    </div>
  </body>
</html>

<script></script>
