<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="/static/signup.css" />
  </head>
  <body>
    <div class="main">
      <h1>Register</h1>
      <form action="/register" method="POST">
        <input id="name" value="" name="name" type="text" placeholder="Name" />
        <input
          id="email"
          name="email"
          value=""
          type="text"
          placeholder="Email"
        />
        <input
          id="password"
          name="password"
          value=""
          type="text"
          placeholder="Password"
        />
        <input type="submit" value="Register" />
      </form>
      <div class="newUser">
        Already have an account
        <span onclick="location.href='/login'">Click Here</span>
      </div>
    </div>
  </body>
</html>
