.main {
  height: 50px;
  width: 400px;
  background-color: #396eb0;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
